openapi: 3.2.0
info:
  title: Curve.finance Crv USD API
  version: 1.0.0
  description: Curve.finance public REST API for pools, gauges, volumes, APY/APR, lending vaults, fees, and CRV/crvUSD supply data across supported blockchains.
  contact:
    name: Curve Finance
    url: https://curve.finance
  license:
    name: MIT
servers:
- url: https://api.curve.finance/v1
tags:
- name: crvUSD
paths:
  /getCrvCircSupply:
    get:
      tags:
      - crvUSD
      description: Returns the circulating supply of crvUSD
      responses:
        '200':
          description: null
      summary: Get get crv circ supply
      x-summary-source: derived
      operationId: getGetCrvCircSupply
      x-operation-id-source: derived
  /getCrvusdTotalSupply:
    get:
      tags:
      - crvUSD
      description: Returns the total supply of crvUSD
      responses:
        '200':
          description: null
      summary: Get get crvusd total supply
      x-summary-source: derived
      operationId: getGetCrvusdTotalSupply
      x-operation-id-source: derived
  /getCrvusdTotalSupplyNumber:
    get:
      tags:
      - crvUSD
      description: Returns the total supply of crvUSD as a number
      responses:
        '200':
          description: null
      summary: Get get crvusd total supply number
      x-summary-source: derived
      operationId: getGetCrvusdTotalSupplyNumber
      x-operation-id-source: derived
  /getScrvusdTotalSupplyNumber:
    get:
      tags:
      - crvUSD
      description: Returns the total supply of scrvUSD as a number
      responses:
        '200':
          description: null
      summary: Get get scrvusd total supply number
      x-summary-source: derived
      operationId: getGetScrvusdTotalSupplyNumber
      x-operation-id-source: derived
  /getScrvusdTotalSupplyResult:
    get:
      tags:
      - crvUSD
      description: Returns the total supply of scrvUSD as a JSON object
      responses:
        '200':
          description: null
      summary: Get get scrvusd total supply result
      x-summary-source: derived
      operationId: getGetScrvusdTotalSupplyResult
      x-operation-id-source: derived
  /getVolumes/ethereum/crvusd-amms:
    get:
      tags:
      - crvUSD
      description: Returns last daily volume for each crvUSD AMM
      responses:
        '200':
          description: null
      summary: Get get volumes ethereum crvusd amms
      x-summary-source: derived
      operationId: getGetVolumesEthereumCrvusdAmms
      x-operation-id-source: derived
